*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color palette */
:root{
    --primary-color: #7739b2;
    --secondary-color: #38fcec;
    --tertiary-color: #dfca13;
    --fourth-color: #f303f3;
    --fifth-color: #ffffff;
}

/* color classes */
.primary-color {
    color: var(--primary-color)
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.fourth-color {
    color: var(--fourth-color);
}

.fifth-color {
    color: var(--fifth-color);
}

body {
    background-color: var(--fifth-color);
    font-family: "Courier New", Courier, monospace;
    margin-right: 0;
    padding-right: 0;
}
/* main page styles end */

/* header styles start */
header {
    display: flex;
    padding: 20px 35px;
    background-color: var(--primary-color);
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
  }

header h1 {
    font-weight: bold;
    font-size: 72px;
    color: var(--secondary-color);
    margin: 0;
  }

header a {
    text-decoration: none;
    color: var(--secondary-color);
  }

header nav {
    margin: 7px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2.5vw;
  }

header nav ul li .tertiary-color, header nav ul li .fourth-color {
    padding-left: 30px;
}

.flex-row {
    display: flex;
  }

#about-link:hover{
    color: var(--secondary-color)
}

#about-me{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    width: 100vw;

  }

#about-me-header{
    display: flex;
    margin-bottom: 20px;
}

aside{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.content-row{
    display: flex;
    height: 200px;
}

.text-column{
    flex: 0 0 75%;
}

.horiseon{
    background-image: url(./search-engine-optimization.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    display: flex;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.horiseon:hover{
    background-size: 350px;
}

.container{
    margin: 0;
    padding: 0;
}

#projects-link:hover{
    color: var(--tertiary-color)
}

#projects{
      display: flex;
      padding-top: 20px;
      padding-left: 20px;
      width: 100vw;

  }

#about-me-header{
    display: flex;
    margin-bottom: 20px;
}

.distribution{
    background-image: url(./online-reputation-management.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    display: flex;
    width: 190px;
    height: 190px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.distribution:hover{
    background-size: 350px;
}

#contact-links{
    width: 100vw;
    padding: 0px;
    margin: 0px;
}

#linkedin{
    padding-right: 150px;
    padding-left: 80px;
}

.about img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

/* Contact Styles */

.contact a {
    text-decoration: none;
    color: black;
}

#contact-link:hover {
    color: var(--fourth-color);
}

.contact.text {
    padding-top: 10px;
}

#contact-me-header{
    display: flex;
    margin-bottom: 20px;
}

#projects-header{
    display: flex;
    margin-bottom: 20px;
}

@media screen and (max-width: 980px) {

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header h1 a {
        font-size: 30px;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li {
        padding-bottom: 25px;
    }
    
    header nav ul li a {
        font-size: 20px;
    }
    
    h2 {
        margin: 0 auto;
    }
    
    }
    
    
    /* Media Query for Iphones and Smaller */
    
@media screen and (max-width: 750px) {
    
        header h1 a {
            font-size: 25px;
        }
    
        header nav ul li a {
            font-size: 12px;
        }
    }
/* #about-me, #projects, #contact-me {
    padding-top: 20px;
    padding-left: 20px;
    width: 100vw;
} */